
html, body {
    width: 100%;
    height: 100%;
    @include background;
    overflow: hidden;
    margin: 0;
}

body {
  z-index: -1;
  background: url('https://source.unsplash.com/random/1920x1080') fixed no-repeat;
  background-size: cover;
  overflow: hidden;
}

.frosted-glass {
  z-index: -1;
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  overflow: hidden;
}
.frosted-glass::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: inherit;
  box-shadow: inset 0px 3000px 3000px rgba(255, 255, 255, 0.5);
  filter: blur(25px);
  margin: -200px;
  overflow: hidden;
}
